@media screen and (max-width: 1360px) {
    header {padding: 5px 15px}
    .page1 {right: 20px}
    .container2 {padding: 80px 25px 125px 10px; overflow: hidden}
    .triangleWrap {width: 1024px; margin: 50px auto 0; height: 910px;}
    .triangle2 {top: -470px; left: 245px;}
    .triangle3 {right: 95px; top: 520px}
    .page2 {bottom: 225px;}
    .container3 {padding: 80px 70px 95px 60px;}
    .container4 {padding: 120px 30px 120px 230px}
    .page4 {left: 20px}
}

@media screen and (max-width: 1024px) {
    header {flex-wrap: wrap; padding: 0; }
    .courseInfo {order: 2; width: 100%; padding: 0 150px 0 230px;}
    .logo {margin-left: 10px;}
    .navBtns {margin-right: 10px;}
    .formWrap {padding: 180px 15px 0;}
    .left, .right {width: 27%}
    form {width: 39%; margin-left: 10px; margin-right: 10px}
    .left {transform: translateX(100px)}
    .right {transform: translateX(-100px)}
    .left:hover, .right:hover {transform: none}
    .inputCont {padding: 0 5px}
    .reserveBehind {width: 75%;}
    .reserve {width: 65%; padding: 15px 40px;}
    .triangleWrap {width: 760px; height: 1065px;}
    .triangle {border: 270px solid transparent; border-left-width: 470px; border-right-width: 470px; border-right-color: #137d67; border-top-color: transparent}
    .triangle1 {left: -45%; top: -50px}
    .triangle2 {border-left-color: #137d67; border-right-color: transparent; top: 280px;
    left: 15%; right: auto}
    .triangle3  {left: -45%; top: 610px}
    .inTrItem1 {left: 180px; top: -135px;}
    .inTrItem2 {left: -465px; top: -130px;} 
    .inTrItem3 {left: 180px; top: -110px;}
    .page2 {left: 40px; bottom: 40px}
    .container3 {padding: 50px 30px;}
    .page4 {top: 10px;}
    .container4 {padding-left: 60px; padding-bottom: 70px}
    .inputWrap {margin-left: 145px}
    .share {margin-left: 190px}
}

@media screen and (max-width: 760px) {
    header {height: auto}
    .navBtns {width: 25%; order: 3; align-self: flex-start; margin-top: 15px}
    .courseInfo {width: 70%; padding: 0}
    h1 {font-size: 36px}
    .formWrap {position: relative; }
    form {width: 330px;}
    .left, .right {position: absolute; width: 250px; top: 385px}
    .left:before, .right:before {content: ''; position: absolute; display: block; width: 0; height: 0; border: 10px solid transparent; border-right-color: #137d67; left: -5px; top: 0; bottom: 0; margin: auto}
     .left {transform: translateX(-62px)}
    .right {transform: translateX(62px)}
    .right:before {border: 10px solid transparent; border-left-color: #137d67; left: auto; right: -5px}
   .left:hover {z-index: 15; transform: translateX(-58px)} 
    .right:hover {z-index: 15; transform: translateX(58px)}
    .left:hover:before, .right:hover:before {display: none}
    .container1 {padding-top: 60px}
    .page1 {width: 45px; right: 5px; top: 25px;}
     .reserveBehind {display: none; }
    .reserve {width: 85%; padding: 15px 20px;}
    .container2 {padding: 40px 10px 125px 10px;}
    .container2 h2 {font-size: 30px}
    .triangleWrap {width: 400px; height: 635px;}
    .triangle {transform: scale(.6)}
    .triangle1 {left: -115%; top: -140px;}
    .triangle2 {left: -42%; top: 75px}
    .triangle3 {left: -115%; top: 285px;}
    .page2 {width: 50px;}
    .container3 {padding: 30px 10px; background-size: 50px; background-position: right 10px top 140px}
    .wrapSEOtxt h2 {font-size: 30px; margin-bottom: 15px}
   .container4 {padding: 150px 10px 40px;}
    .page4 {width: 50px;}
    .share {margin-left: 20px;}
    .inputWrap {margin-left: 0}
    footer {padding: 20px 0 10px}
    .footerNav ul {flex-direction: column; align-items: flex-end}
    .footerNav ul li {margin-bottom: 10px}
    .socialCircle {margin: 40px 0}
    .partners {width: 95%; justify-content: center}
    .partnerItem {margin: 5px}
    .copyright {width: 100%;}
}
@media screen and (max-width: 400px) {
    .logo, .navBtns {order: -1}
    .navBtns {width: 35%; margin-top: 5px}
    .contacts {width: 100%; margin: 5px 0; padding: 0 10px}
    .courseInfo {width: 100%; padding: 0 10px}
    .formWrap {padding: 230px 5px 0}
    form {width: 90%; margin-top: 5px}
    .userData {padding: 10px}
    .left, .right {position: absolute; width: 70%; top: 410px}
      .left {transform: translateX(-20%)}
    .right {transform: translateX(20%)}
     .left:hover {z-index: 15; transform: translateX(-15%)} 
    .right:hover {z-index: 15; transform: translateX(15%)}
    .left_list li, .right_list li {padding-left: 15px}
    .reserve h2 {font-size: 30px}
    .reserve ul li {font-size: 14px}
    .reserve a {font-size: 14px}
    .triangleWrap {width: 300px; height: 500px}
     .triangle {transform: scale(.5)}
    .triangle1 {left: -160%; top: -170px;}
    .triangle2 {left: -78%; top: 5px;}
     .triangle3 {left: -160%; top: 180px;}
    .socialCircle {margin: 40px 0; flex-wrap: wrap; justify-content: center}
    .socialCircle a:nth-child(3) {order: 2; margin-top: 15px}
}