@import url('../font/GOTHIC.TTF');
* {
    font-family: "Century Gothic";
}


@font-face {
    font-family: 'Century Gothic';
    src: url(../font/GOTHIC.TTF);
}

/*MH*/

*,
body,
html {

    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    -webkit-padding-start: 0px;
    transition: .5s

}

/*MH*/

header {
    width: 100%;
    height: 85px;
    position: fixed;
    background: #2e4357;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 180px;
    top: 15px;
    box-shadow: 0px 1px 1px #203141;
    z-index: 20;
    
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.phone,
.mail {
    color: #10cd57;
    font-size: 14px;
    position: relative;
    padding-left: 45px;
    line-height: 2.2
}

.phone:before,
.mail:before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/phoneIcon.png) no-repeat center;
    top: 0;
    left: 0
}

.mail {
    color: #d4c1af
}

.mail:before {
    background-image: url(../img/mailIcon.png)
}

.courseInfo {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #fff;
    position: relative;
    background: #2e4357; align-self: flex-start; margin-top: 8px
}

.courseInfo p {
    width: 48%;
    line-height: 2;
    color: #d4c1af;
    font-size: 14px;
    
}

.courseInfo p span {
    margin-left: 5px;
    color: #10cd57;
}

.courseInfo p span:before {
    content: '$'
}

.showRest {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    background: transparent;
    border: 10px solid transparent;
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-color: #10cd57;
    filter: drop-shadow(0px 0px 2px #1a2631);
    animation: showRest .5s infinite;
}
@keyframes showRest {
    50% {filter: drop-shadow(0px 0px 2px #fff)}
}
.hidden {display: none; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #2e4357;}

.navBtns {
    width: 130px;
    display: flex;
    justify-content: space-between
}

h1 {
    width: 100%;
    margin-bottom: 20px;
    color: #d4c1af;
    font-size: 48px;
    font-weight: bolder;
    text-align: center
}

.formWrap p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #d4c1af
}


.left {
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 5px 14.7px 0.3px rgba(39, 39, 39, 0.85);
    width: 20%;
    height: 383px;
    /*    MH*/
    padding: 0 5px;
    margin-top: 65px
    /*MH*/
}

.left_list {
    list-style: none;
}

.list_head {
    font-size: 24px;
    color: rgb(36, 56, 75);
    line-height: 1.2;
    padding: 10px 5px 0px 10px;
    text-align: center;
}

.left_list li {
    font-size: 18px;
    margin-left: 10px;

    /*    MH*/
    margin-left: 35px
    /*         MH*/
}

.left_list #p1:after {
    content: "\25b7";
}

.left_list #p1:hover {
    box-sizing: border-box;
    border-width: 1px;
    border-color: rgb(0, 89, 82);
    border-style: solid;
    background-image: -webkit-linear-gradient(left, rgb(16, 205, 87) 0%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(left, rgb(16, 205, 87) 0%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to right, rgb(16, 205, 87) 0%, rgb(255, 255, 255) 100%);


}

.left_list #p1:after {
    content: "\25b7";
    position: absolute;
    right: 10px;
}

#p1 {
    position: relative;
}

.p1:before {
    content: url(../img/btc.png);

}

.p2:before {
    content: url(../img/visa.png);
}

.p3:before {
    content: url(../img/dash.png);
}

.p4:before {
    content: url(../img/lcoin.png);
}

.p5:before {
    content: url(../img/ripple.png);
}

.p6:before {
    content: url(../img/privat.png);
}

.p7:before {
    content: url(../img/monero.png);
}

.p8:before {
    content: url(../img/zcash.png);
}

.p9:before {
    content: url(../img/ether.png);
}

/*
.p1 {
    list-style-image: url(../img/btc.png);
}

.p2 {
    list-style-image: url(../img/visa.png);
}

.p3 {
    list-style-image: url(../img/dash.png);
}

.p4 {
    list-style-image: url(../img/lcoin.png);
}

.p5 {
    list-style-image: url(../img/ripple.png);
}

.p6 {
    list-style-image: url(../img/privat.png);
}

.p7 {
    list-style-image: url(../img/monero.png);
}

.p8 {
    list-style-image: url(../img/zcash.png);
}

.p9 {
    list-style-image: url(../img/ether.png);
}*/

.right {
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 5px 14.7px 0.3px rgba(39, 39, 39, 0.85);
    width: 20%;
    height: 383px;
    /*    MH*/
    padding: 0 5px;
    margin-top: 65px
    /*    MH*/
}

.right_list li {
    font-size: 18px;
    margin-left: 10px;
    /*    MH*/
    margin-left: 35px
    /*MH*/
}

.right_list #p1:after {
    content: "\25b7";
}

/*MH*/

form {
    width: 350px;
    height: auto;
    display: flex;
    background: #f0f0f0;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(39, 39, 39, 0.85);
    margin: 60px 25px 0;
    z-index: 10;

}

.formUp {
    width: 100%;
    height: auto;
    padding: 5px 0;
    background: #10cd57;
}

.changeForm {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url(../img/exchangeBtn.png) no-repeat center;
}

.inputCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px
}

.currency {
    width: 120px;
    padding: 6px 7px 6px 3px;
    background: url(../img/btc.png) no-repeat 5% center;
    font-size: 16px;
    color: #231f20;
    border: 1px solid #959595;
    border-radius: 5px;
    margin: 17px 0;
}

.leftCur {
    text-align: right
}

.rightCur {
    background: url(../img/visa.png) no-repeat 95% center;
    text-align: left
}

.userData {
    width: 100%;
    padding: 13px 20px;
    border: 1px solid #959595;
    border-radius: 5px;
    margin-bottom: 20px;
    background: url(../img/check.png) no-repeat 95% center;
    font-size: 16px;
    color: #231f20
}

.userData::placeholder {
    color: #8f8f8f;
    font-size: 16px;
}

input[type=checkbox] {
    display: none;
}

label {
    width: 100%;
    padding-left: 30px;
    position: relative;
    margin: 45px 0 25px;
    color: #8f8e8e;
    font-size: 16px
}

label:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #959595;
    border-radius: 3px;
    top: -2px;
    left: 0
}

input[type=checkbox]:checked + label:before {
    background: url(../img/rulesConfirm.png) no-repeat center
}

label a {
    color: #10cd57
}

.formSubmit {
    width: 100%;
    padding: 15px 0;
    background: #e1e1e1;
    display: flex;
    justify-content: center
}

input[type=submit] {
    padding: 10px;
    background: #137d67;
    color: #eeeeee;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #696969
}

.formWrap {
    width: 100%;
    height: auto;
    background: #24384b;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    flex-wrap: wrap;
}

.container1 {
    width: 100%;
    height: auto;
    background: url(../img/mountain.png) no-repeat right #fff;
    padding: 100px 0 40px;
    margin-top: -20px;
    position: relative;
}

.page1 {
    position: absolute;
    right: 200px;
    top: 50px;
    opacity: .5;
}

.reserve {
    width: 670px;
    height: 450px;
    padding: 15px 100px;
    background: #f3f3f3;
    box-shadow: 0px 5px 15px rgba(39, 39, 39, 0.85);
    margin: 0 auto;
    z-index: 10;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center
}

.reserveBehind {
    position: absolute;
    width: 760px;
    height: 390px;
    background: #f3f3f3;
    box-shadow: 0px 5px 15px rgba(39, 39, 39, 0.85);
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
}

.reserve h2 {
    color: #24384b;
    font-size: 36px;
    letter-spacing: 5px;
}

/*MH*/

.reserve ul {
    margin: 15px 0 25px;
    width: 100%;
    list-style: none;
}

.reserve ul li {
    font-size: 18px;
    color: #24384b;
    padding-left: 40px;
    line-height: 30px;
    position: relative
}

.resItem:before {
    content: '';
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    top: 2px;
    left: 0;
    background: url(../img/btc.png) no-repeat center;
}

.reserveItem2:before {
    background-image: url(../img/visa.png)
}

.reserveItem3:before {
    background-image: url(../img/dash.png)
}

.reserveItem4:before {
    background-image: url(../img/lcoin.png)
}

.reserveItem5:before {
    background-image: url(../img/ripple.png)
}

.reserveItem6:before {
    background-image: url(../img/privat.png)
}

.reserveItem7:before {
    background-image: url(../img/usd.png)
}

.reserveItem8:before {
    background-image: url(../img/monero.png)
}

.reserveItem9:before {
    background-image: url(../img/zcash.png)
}

.reserveItem10:before {
    background-image: url(../img/ether.png)
}

.reserve ul li span {
    position: absolute;
    right: 0;
    text-align: right
}

.reserve a {
    padding: 10px;
    background: #137d67;
    color: #eeeeee;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #696969
}

.container2 {
    width: 100%;
    height: auto;
    padding: 80px 125px 125px 110px;
    background: #24384b;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container2 h2 {
    width: 100%;
    font-size: 36px;
    color: #d4c1af;
    text-transform: uppercase;
    text-align: center;
}

.page2 {
    position: absolute;
    left: 110px;
    bottom: 55px;
    opacity: .65;
}

.triangleWrap {
    width: 100%;
    height: 470px;
    position: relative;
    margin-top: 100px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border: 270px solid transparent;
    border-top-width: 470px;
    border-bottom-width: 470px;
    border-top-color: #137d67;
    filter: drop-shadow(0px 5px 9px #15202a)
}

.triangle2 {
    border-top-color: transparent;
    border-bottom-color: #137d67;
    top: -470px;
    left: 0;
    right: 0;
    margin: auto;
}

.triangle3 {
    right: 0
}

.triangleInner {
    width: 260px;
    height: 210px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.triangleInner p {
    color: #f4f4f4;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold
}

.inTrItem1 {
    left: 135px;
    top: 30px;
}

.inTrItem2 {
    width: 333px;
    left: 470px;
    top: 190px;
}

.inTrItem3 {
    left: 885px;
    top: 30px;
}

.container3 {
    width: 100%;
    height: auto;
    position: relative;
    background: url(../img/3.png) no-repeat;
    background-position: right 110px top 130px;
    padding: 80px 170px 95px 160px
}

.wrapSEOtxt {
    border-bottom: #636363;
    margin: 0 auto;
}

.wrapSEOtxt h2 {
    color: #24384b;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px
}

.wrapSEOtxt p {
    color: #24384b;
    font-size: 16px;
    margin-bottom: 25px
}
.container4 {width: 100%; height: auto; padding: 120px 430px 135px; position: relative; display: flex; flex-direction: column; overflow: hidden;}
.cont4Line {width: 1280px; height: 1px; position: absolute; background: #636363; top: 0; right: 0; left: 0; margin: auto; box-shadow: 0px 1px 5px #e3e3e3 }
.cont4heading {width: 150px; height: 150px; position: absolute; background: #00a651; border-radius: 50%; top: -10px; left: 0; right: 0; margin: auto; box-shadow: 0px 0px 7px #adadad; padding: 60px 10px; color: #f6f6f6; font-size: 30px; font-weight: bold; text-align: center; letter-spacing: 5px}
.page4 {position: absolute; left: 105px; left: 105px}
.cont4Input {width: 100%; height: auto; display: flex; flex-wrap: wrap; justify-content: space-between;}
.share {margin-left:60px; padding-left: 30px; position: relative; color: #24384b; font-size: 16px;}
.share:before {content: ''; position: absolute; display: block; width: 20px; height: 22px; top: 0; left: 0; background: url(../img/share.png) no-repeat center}
.sortBy {margin-left:60px; padding-right: 15px; position: relative; color: #24384b; font-size: 16px}
.sortBy:after {content: ''; position: absolute; display: block; width: 0; height: 0; border: 7px solid transparent; border-top-width: 15px; border-bottom-width: 15px; border-top-color: #24384b; top: 2px; right: 0}
.inputWrap, .feedback {width: 100%; height: auto; margin-top: 10px; display: flex; justify-content: space-between; align-items: center;}
.inputWrap input {width: 95%; margin-left: 10px; padding: 15px 5px}
.container4Item {margin-top: 30px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap}
.feedback p {margin-left: 10px; color: #24384b; font-size: 16px; font-weight: bold}
.topItem {margin-top: 50px}
