@import url('../font/GOTHIC.TTF');
* {
    font-family: "Century Gothic";
}


@font-face {font-family: 'Century Gothic';
src: url(../font/GOTHIC.TTF);}
/*MH*/

*,
body,
html {
    
    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    -webkit-padding-start: 0px;

}

/*MH*/

header {width: 100%; height: auto; position: fixed; background: #2e4357; display: flex; justify-content: space-between; align-items: center; padding: 5px 180px; top: 15px; box-shadow: 0px 1px 1px #203141; z-index: 20;}
.contacts {display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start; }
.phone, .mail {color: #10cd57; font-size: 14px; position: relative; padding-left: 45px; line-height: 2.2}
.phone:before, .mail:before {content: ''; position: absolute; display: block; width: 30px; height: 30px; background: url(../img/phoneIcon.png) no-repeat center; top: 0; left: 0}
.mail {color: #d4c1af}
.mail:before {background-image: url(../img/mailIcon.png)}
.courseInfo {width: 260px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; border-bottom: 2px solid #fff; position: relative}
.courseInfo p {width: 48%; line-height: 2; color: #d4c1af; font-size: 14px;}
.courseInfo p span {margin-left: 5px; color: #10cd57;}
.courseInfo p span:before {content: '$'}
.courseInfo:after {content: ''; display: block; position: absolute; top: 100%; left: 0; right: 0; margin: auto; width: 0; height: 0; background: transparent; border: 10px solid transparent; border-left-width: 20px; border-right-width: 20px; border-top-color: #10cd57; filter: drop-shadow(0px 0px 2px #1a2631)}
.navBtns {width: 130px; display: flex; justify-content: space-between}
h1 {width: 100%; margin-bottom: 20px; color: #d4c1af; font-size: 48px; font-weight: bolder; text-align: center}
.formWrap p {width: 100%;text-align: center; font-size: 16px; color: #d4c1af}


.left {
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 5px 14.7px 0.3px rgba(39, 39, 39, 0.85);
    width: 20%;
    height: 383px;
/*    MH*/
    padding: 0 5px;
     margin-top: 65px
   
/*MH*/
}
.left_list{
    list-style: none;
}

.list_head {
    font-size: 24px;
    color: rgb(36, 56, 75);
    line-height: 1.2;
    padding: 10px 5px 0px 10px;
    text-align: center;
}

.left_list li {
    font-size: 18px;
    margin-left: 10px;
    
/*    MH*/
     margin-left: 35px
/*         MH*/
}

.left_list #p1:after {
    content: "\25b7";
}

.left_list #p1:hover{
    box-sizing: border-box;
    border-width: 1px;
    border-color: rgb(0, 89, 82);
    border-style: solid;
    background-image: -webkit-linear-gradient(left, rgb(16,205,87) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(left, rgb(16,205,87) 0%, rgb(255,255,255) 100%);
    background-image: linear-gradient(to right, rgb(16,205,87) 0%, rgb(255,255,255) 100%);


}
.left_list #p1:after {
    content: "\25b7";
    position: absolute;
    right: 10px;
}

#p1{
   position: relative; 
}
.p1:before {
    content: url(../img/btc.png);
    
}

.p2:before {
    content: url(../img/visa.png);
}

.p3:before {
    content: url(../img/dash.png);
}

.p4:before {
    content: url(../img/lcoin.png);
}

.p5:before {
    content: url(../img/ripple.png);
}

.p6:before {
    content: url(../img/privat.png);
}

.p7:before {
    content: url(../img/monero.png);
}

.p8:before {
    content: url(../img/zcash.png);
}

.p9:before {
    content: url(../img/ether.png);
}

/*
.p1 {
    list-style-image: url(../img/btc.png);
}

.p2 {
    list-style-image: url(../img/visa.png);
}

.p3 {
    list-style-image: url(../img/dash.png);
}

.p4 {
    list-style-image: url(../img/lcoin.png);
}

.p5 {
    list-style-image: url(../img/ripple.png);
}

.p6 {
    list-style-image: url(../img/privat.png);
}

.p7 {
    list-style-image: url(../img/monero.png);
}

.p8 {
    list-style-image: url(../img/zcash.png);
}

.p9 {
    list-style-image: url(../img/ether.png);
}*/

.right {
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 5px 14.7px 0.3px rgba(39, 39, 39, 0.85);
    width: 20%;
    height: 383px;
/*    MH*/
     padding: 0 5px;
    margin-top: 65px
/*    MH*/

}

.right_list li {
    font-size: 18px;
    margin-left: 10px;
    /*    MH*/
   
    margin-left: 35px
/*MH*/
}

.right_list #p1:after {
    content: "\25b7";
}
/*MH*/

form {
    width: 350px;
    height: auto;
    display: flex;
    background: #f0f0f0;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(39, 39, 39, 0.85);
    margin: 60px 25px 0;
    z-index: 10;
    
}

.formUp {
    width: 100%;
    height: auto;
    padding: 5px 0;
    background: #10cd57;
}

.changeForm {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url(../img/exchangeBtn.png) no-repeat center;
}

.inputCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px
}

.currency {
    width: 120px;
    padding: 6px 7px 6px 3px;
    background: url(../img/btc.png) no-repeat 5% center;
    font-size: 16px;
    color: #231f20;
    border: 1px solid #959595;
    border-radius: 5px;
    margin: 17px 0;
}

.leftCur {
    text-align: right
}

.rightCur {
    background: url(../img/visa.png) no-repeat 95% center;
    text-align: left
}

.userData {
    width: 100%;
    padding: 13px 20px;
    border: 1px solid #959595;
    border-radius: 5px;
    margin-bottom: 20px;
    background: url(../img/check.png) no-repeat 95% center;
    font-size: 16px;
    color: #231f20
}

.userData::placeholder {
    color: #8f8f8f;
    font-size: 16px;
}

input[type=checkbox] {
    display: none;
}

label {
    width: 100%;
    padding-left: 30px;
    position: relative;
    margin: 45px 0 25px;
    color: #8f8e8e;
    font-size: 16px
}

label:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #959595;
    border-radius: 3px;
    top: -2px;
    left: 0
}

input[type=checkbox]:checked + label:before {
    background: url(../img/rulesConfirm.png) no-repeat center
}

label a {
    color: #10cd57
}

.formSubmit {
    width: 100%;
    padding: 15px 0;
    background: #e1e1e1;
    display: flex;
    justify-content: center
}

input[type=submit] {
    padding: 10px;
    background: #137d67;
    color: #eeeeee;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #696969
}

.formWrap {width: 100%; height: auto; background: #24384b; display: flex; justify-content: center; padding-top: 130px; flex-wrap: wrap;}

.container1 {width: 100%; height: auto; background: url(../img/mountain.png) no-repeat right #fff; padding: 100px 0 40px; margin-top: -20px; position: relative; }
.page1 {position: absolute; right: 200px; top: 50px; opacity: .5;}
.reserve {width: 670px; height: 450px; padding: 15px 100px; background: #f3f3f3; box-shadow: 0px 5px 15px rgba(39, 39, 39, 0.85); margin: 0 auto; z-index: 10; position: relative; z-index: 10; display: flex; flex-direction: column; align-items: center}
.reserveBehind {position: absolute; width: 760px; height: 390px; background: #f3f3f3; box-shadow: 0px 5px 15px rgba(39, 39, 39, 0.85); top: 130px; left: 0; right: 0; margin: auto;}
.reserve h2 {color: #24384b; font-size: 36px; letter-spacing: 5px;}
/*MH*/
.reserve ul {margin: 15px 0 25px; width: 100%; list-style: none;}
.reserve ul li {font-size: 18px; color: #24384b; padding-left: 40px; line-height: 30px; position: relative}
.resItem:before { content: ''; position: absolute; display: block; width: 25px; height: 25px; top: 2px; left: 0; background: url(../img/btc.png) no-repeat center;}
.reserveItem2:before {background-image: url(../img/visa.png)}
.reserveItem3:before {background-image: url(../img/dash.png)}
.reserveItem4:before {background-image: url(../img/lcoin.png)}
.reserveItem5:before {background-image: url(../img/ripple.png)}
.reserveItem6:before {background-image: url(../img/privat.png)}
.reserveItem7:before {background-image: url(../img/usd.png)}
.reserveItem8:before {background-image: url(../img/monero.png)}
.reserveItem9:before {background-image: url(../img/zcash.png)}
.reserveItem10:before {background-image: url(../img/ether.png)}
.reserve ul li span {position: absolute; right: 0; text-align: right}
.reserve a {  padding: 10px;
    background: #137d67;
    color: #eeeeee;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #696969}
